# Site settings
course_name: "Data Structures and Algorithms "
course_description: "This course covers fundamental data structures, algorithmic techniques, and their applications in solving computational problems. Topics include arrays, linked lists, stacks, queues, trees, graphs, hashing, and complexity analysis."
course_semester: "spring 2026"

baseurl: ""
url: "https://dsa-spring2026.github.io"

schoolname: "Islamic Azad University, Shiraz Branch"
schoolurl: "http://iaushiraz.ac.ir"
twitter_username: ""

address: |
  Islamic Azad University, Shiraz Branch
  Shiraz, Iran

# Google Analytics
# google_analytics: UA-XXXXXXXX-X

### Do not change the followings unless you know what you are doing ###

# Build settings
markdown: kramdown

# Other options
permalink: blog/:year/:month/:title
excerpt_separator: "<!--more-->"

include: ['_images', '_css']
exclude: ['develop']

dateformat: "%m/%d/%Y"

future: true

collections:
  events:
    output: true
  lectures:
    output: true
  assignments:
    output: true
  announcements:
    output: false

defaults:
  - scope:
      path: ""
      type: "assignments"
    values:
      layout: "assignment"
