/**
 * Site header - Desktop Version Only
 */

.site-header {
    border-top: 0px solid $grey-color-dark;
    border-bottom: 6px solid $clemson-orange;
    min-height: 56px;
    background-color: $clemson-purple;
    position: relative;
}

.header-texture {
    opacity: $header-background-opacity;
    filter: invert($header-background-invert);
}

/* اعمال تغییرات فقط برای نمایشگرهای بزرگ (Desktop) */
@media screen and (min-width: 601px) {

    .site-header .wrapper {
        padding-top: 20px;
        display: flex !important;
        flex-direction: column !important; /* چیدمان ستونی: لوگو بالا، منو پایین */
        align-items: center !important;    /* وسط‌چین کردن افقی */
        text-align: center !important;
        position: relative;
        float: none !important;
        margin: 0 auto !important;
    }

    /* تنظیم لوگو و عنوان سایت */
    .site-title, .site-title a {
        font-size: 26px;
        letter-spacing: -1px;
        margin-bottom: 15px !important;
        float: none !important; /* حذف شناوری به چپ */
        display: inline-block !important;
        font-weight: 500;
        font-family: 'Titillium Web', sans-serif;
        color: $header-text-color;
        
        &:visited { color: $header-text-color; }
        &:hover { text-decoration: none; }
    }

    /* تنظیم بخش ناوبری اصلی */
    .site-nav {
        float: none !important; /* حذف شناوری به راست */
        width: 100% !important;
        margin: 0 auto !important;
        line-height: normal !important;
        display: block !important;

        /* تنظیم لیست منو */
        .menu {
            display: flex !important;
            justify-content: center !important; /* قرار دادن آیتم‌ها در مرکز */
            flex-wrap: wrap !important;
            padding: 0 !important;
            margin: 0 !important;
            list-style: none !important;
            text-align: center !important;
            text-transform: uppercase;
            font-family: 'Titillium Web', sans-serif;
            font-size: 85%;
            font-weight: 600;
            letter-spacing: 1px;
        }

        /* آیتم‌های داخل منو */
        .menu > li {
            border-bottom: 3px solid transparent;
            display: inline-block !important;
            margin: 0 15px !important; /* فاصله بین گزینه‌ها */
            padding: 0 0 5px 0;
            position: relative;
            float: none !important;
        }

        a {
            display: flex !important;
            align-items: center !important;
            gap: 8px;
            color: $header-text-color;
            text-decoration: none;
        }
    }

    /* تنظیم زیرمنوها برای حالت وسط‌چین */
    .sub-menu {
        border: 3px solid transparent;
        box-shadow: 0 2px 2px rgba(0,0,0,0.4);
        display: none;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%); /* تراز کردن زیرمنو نسبت به مرکز والد */
        background: #ffffff;
        min-width: 200px;
        z-index: 999;
        padding: 5px 0;
        
        li {
            display: block;
            margin: 0;
            text-align: left;
            a {
                color: $title-color !important;
                padding: 8px 15px;
                font-weight: normal;
                &:hover { color: $clemson-purple !important; }
            }
        }
    }

    .site-nav li:hover > .sub-menu {
        display: block;
    }
}

/* استایل‌های عمومی متن هدر */
.schoolname { color: $header-text-color; }
.coursesemeter { color: $header-text-color; opacity: 0.9; }

/* پنهان کردن عنوان پنهان ناوبری */
.site-nav h1 {
    position: absolute;
    left: -999em;
}

.site-nav {
    float: right;
    line-height: 40px;


    .menu-icon {
        display: none;
    }

    .page-link {
        color: $header-text-color;
    background: $clemson-purple;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }



    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

.schoolname {
    color: $header-text-color;
}

.coursesemeter {
    color: $header-text-color;
    opacity: 0.9;
}


