/**
 * Site header
 */
.site-header {
    border-top: 0px solid $grey-color-dark;
    border-bottom: 6px solid $clemson-orange;
    min-height: 110px;
    background-color: $clemson-purple;
    position: relative;
}

/* پس‌زمینه */
.header-texture {
    opacity: $header-background-opacity;
    filter: invert($header-background-invert);
}

/* لوگو */
.site-header img {
    width: 55px !important; /* کوچک‌تر شده */
    height: auto;
}

/* اسم درس */
.site-title, .site-title a {
    font-size: 20px !important; /* کوچک‌تر شده */
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    font-weight: 500;
    font-family: 'Titillium Web', sans-serif;
    color: $header-text-color;
}

/* اسم دانشگاه */
.schoolname {
    color: $header-text-color;
    font-size: 13px !important;
}

/* ترم */
.coursesemeter {
    color: $header-text-color;
    opacity: 0.9;
    font-size: 11px !important;
}

/* ساختار کلی */
.site-header .wrapper {
    padding-top: 20px;
    position: relative;
}

/* لینک‌های منو */
.site-nav ul li a {
    color: $header-text-color;
}

/* منوی اصلی */
.site-nav ul {
    text-align: right;
    float: right;
    padding-top: 9px;
    font-size: 85%;
    letter-spacing: 1px;
    line-height: 1em;
    font-weight: 600;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
}

/* حذف آیکون موبایل */
.site-nav .menu-icon {
    display: none !important;
}

/* ============================
   نسخه دسکتاپ (منو وسط)
   ============================ */
@media (min-width: 900px) {

  .site-header {
    min-height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .site-header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    height: 100%;
    padding: 0 40px;
    position: relative;
  }

  /* لوگو سمت چپ */
  .site-header .wrapper > table {
    float: none !important;
    display: flex;
    align-items: center;
    z-index: 10;
  }

  /* منو وسط */
  .site-nav {
    float: none !important;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 60%; /* پایین‌تر تا روی اسم درس نیفته */
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
  }

  .site-nav ul {
    display: flex !important;
    align-items: center;
    gap: 30px;
    margin: 0 !important;
    padding: 0 !important;
    list-style: none;
  }

  .site-nav .menu > li {
    display: block;
    margin: 0 !important;
    padding: 0 !important;
    border: none;
  }

  .site-nav a {
    display: block;
    line-height: normal;
    font-size: 18px;
    font-weight: 600;
    text-transform: none;
  }
}
