/**
 * Site header
 */
.site-header {
    border-top: 0px solid $grey-color-dark;
	border-bottom: 6px solid $clemson-orange;
    min-height: 56px;
    background-color: $clemson-purple;
    // Positioning context for the mobile navigation icon
    position: relative;
}

.header-texture {
    opacity: $header-background-opacity;
    filter: invert($header-background-invert);
}

.site-title, .site-title a {
    font-size: 26px;
/* 		margin-top: 15px;
    line-height: 40px; */
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    font-weight: 500;
		font-family: 'Titillium Web', sans-serif;
    color: $header-text-color;
    &,
    &:visited {
        color: $header-text-color;
    }
    &,
    &:hover {
	text-decoration: none;
}
}

.site-header .wrapper {
	padding-top: 20px;
	position: relative;
}

.site-nav ul li a {
	color: $header-text-color;
}

.site-nav ul {

	text-align: right;
	float: right;
	padding-top: 9px;
	font-size: 85%;
	letter-spacing: 1px;
	line-height: 1em;
	font-weight: 600;
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-transform: uppercase;
		font-family: 'Titillium Web', sans-serif;

}

.site-nav .menu > li {
	border-bottom: 3px solid transparent;
	display: inline-block;
	height: 23px;
	line-height: normal;
	margin: 12px 0 0 20px;
	padding: 0 0 2px 0;
	position: relative;
	vertical-align: top;
}

.site-nav a {
	display: block;
        color: $header-text-color;
}

/* Sub Menu */

.site-nav .sub-menu a {
	display: block;
	font-weight: normal;
	height: auto;
	letter-spacing: 0;
	line-height: 1.2em;
	padding: 4px 10px;
color: $title-color;

}

.site-nav .sub-menu a:hover {
	color: $clemson-purple;
}
.site-nav  .sub-menu {
	background: #ffffff;
	border-color: $clemson-purple;
	min-width: 265px;

	z-index:2147483647;
}
.site-nav .sub-menu li.current-menu-item > a {
	border-left-color: $clemson-purple;
	border-right-color: $clemson-purple;
	border-right: 0px;

}


.sub-menu {
	border: 3px solid transparent;
	border-top: 0;
	/* bg and border colors set in header */
	box-shadow: 0 2px 2px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 2px 2px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.4);
	display: none;
	right: -10px;
	padding: 4px 0 3px 0;
	position: absolute;
	text-align: left;
	text-transform: none;
	top: 28px;
	min-width: 265px;

z-index:999;
	font-family: Helvetica, Arial, Verdana, sans-serif;

}

.sub-menu li {
	border-bottom: 0;
	display: block;
	height: auto;
	margin: 3px 0;
	padding: 0;
	text-align: left;
}

.site-nav li:hover > .sub-menu {
	display: block;
}



.site-nav h1 {
	position: absolute;
	left: -999em;
}


.site-nav {
    float: right;
    line-height: 40px;


    .menu-icon {
        display: none;
    }

    .page-link {
        color: $header-text-color;
    background: $clemson-purple;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }



    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

.schoolname {
    color: $header-text-color;
}

.coursesemeter {
    color: $header-text-color;
    opacity: 0.9;
}

/* ===========================================
   FIX: STACKED LAYOUT (LOGO TOP, NAV BOTTOM)
   =========================================== */
@media (min-width: 900px) {

  .site-header {
    min-height: 160px; /* ارتفاع بیشتر برای جا شدن هر دو ردیف */
    display: block; 
  }

  .site-header .wrapper {
    display: flex;
    flex-direction: column; /* المان‌ها را زیر هم می‌چیند */
    align-items: flex-start; /* تراز کردن به سمت چپ */
    padding: 20px 40px 10px 40px;
  }

  /* ردیف بالا: لوگو و نام دانشگاه */
  .site-header .wrapper > table {
    float: none !important;
    margin-bottom: 25px; /* ایجاد فاصله بین عنوان و منوی پایین */
    z-index: 10;
  }

  .site-header .wrapper > table img {
    max-height: 70px; /* سایز لوگو مطابق عکس الگو */
    width: auto;
  }

  /* ردیف پایین: منوی ناوبری */
  .site-nav {
    position: static !important; /* خارج کردن از حالت شناور روی متن */
    transform: none !important;
    width: 100%;
    margin-top: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.1); /* خط جداکننده ظریف مثل الگو */
    padding-top: 15px;
  }

  .site-nav ul {
    display: flex !important;
    flex-direction: row;
    justify-content: flex-start; /* چیدمان از سمت چپ */
    gap: 40px; /* فاصله بین آیتم‌های منو */
    margin: 0 !important;
    padding: 0 !important;
  }

  .site-nav .menu > li {
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    align-items: center;
  }

  .site-nav a {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase; /* تبدیل به حروف بزرگ مثل الگو */
    display: flex;
    align-items: center;
    gap: 8px; /* فاصله بین آیکون و متن */
  }

  /* تنظیم سایز آیکون‌های داخل منو */
  .site-nav a svg, .site-nav a i {
    width: 18px;
    height: 18px;
  }
}
