/**
 * Site header
 */

.site-header {
    border-top: 0px solid $grey-color-dark;
    border-bottom: 6px solid $clemson-orange;
    min-height: 56px;
    background-color: $clemson-purple;
    position: relative;
}

.header-texture {
    opacity: $header-background-opacity;
    filter: invert($header-background-invert);
}

/* --- تنظیمات دسکتاپ (فقط برای نمایشگرهای بزرگ) --- */
@media screen and (min-width: 601px) {
    .site-header .wrapper {
        padding-top: 20px;
        display: flex !important;
        flex-direction: column !important; 
        align-items: center !important;    
        text-align: center !important;
        float: none !important;
        margin: 0 auto !important;
    }

    .site-title, .site-title a {
        font-size: 26px;
        letter-spacing: -1px;
        margin-bottom: 15px !important;
        float: none !important;
        display: inline-block !important;
        font-weight: 500;
        font-family: 'Titillium Web', sans-serif;
        color: $header-text-color;
        
        &:visited { color: $header-text-color; }
        &:hover { text-decoration: none; }
    }

    .site-nav {
        float: none !important; 
        width: 100% !important;
        margin: 0 auto !important;
        display: block !important;

        .menu {
            display: flex !important;
            justify-content: center !important; 
            flex-wrap: wrap !important;
            padding: 0 !important;
            margin: 0 !important;
            list-style: none !important;
            text-transform: uppercase;
            font-family: 'Titillium Web', sans-serif;
            font-size: 85%;
            font-weight: 600;
            letter-spacing: 1px;
        }

        .menu > li {
            border-bottom: 3px solid transparent;
            display: inline-block !important;
            margin: 0 15px !important; 
            padding: 0 0 5px 0;
            position: relative;
            float: none !important;
        }

        a {
            display: flex !important;
            align-items: center !important;
            gap: 8px;
            color: $header-text-color;
            text-decoration: none;
        }
    }

    /* تنظیم زیرمنوها */
    .sub-menu {
        box-shadow: 0 2px 2px rgba(0,0,0,0.4);
        display: none;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        background: #ffffff;
        min-width: 200px;
        z-index: 999;
        padding: 5px 0;
        
        li {
            display: block;
            text-align: left;
            a {
                color: $title-color !important;
                padding: 8px 15px;
                &:hover { color: $clemson-purple !important; }
            }
        }
    }
    .site-nav li:hover > .sub-menu { display: block; }
}

/* --- تنظیمات عمومی --- */
.schoolname { color: $header-text-color; }
.coursesemeter { color: $header-text-color; opacity: 0.9; }
.site-nav h1 { position: absolute; left: -999em; }

/* --- تنظیمات موبایل (فقط برای نمایشگرهای کوچک) --- */
@include media-query($on-palm) {
    .site-nav {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            padding-top: 10px;
            text-align: center;
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
            color: $header-text-color;
            background: $clemson-purple;
        }
    }
}
